#about-me{
    padding: 5rem;
    display: flex;
    justify-content: center;
    margin:auto;
}

#text{
    display: flex;
    justify-content: center;
    text-align: center;
}

#about-section{
    min-height: 10em;
    display: table-cell;
    vertical-align: middle
}

#skills-title{
    padding: 5rem;
    display: flex;
    justify-content: center;
    margin:auto;

}

#skills-list{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    
   
}
